body {
  background-color: #f6f4eb;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #4682a9;
}

.container {
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  max-width: 400px;
}

button {
  background-color: #4682a9;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
}
